<div id='dungeonView'>

  <div id='lowerBar'>
    <div id='leftPanel'>
      <div id='statusPanel'>
        <div id='manaStatus' class='status-panel'>
          <div class='icon small icon-for-mana'></div>
          <div class='mana-color value'></div>
        </div>
      </div>
      <div id='speedControl'>
        <a href='#' class='button button-small pause'><span class='nudge-up'>■</span></a>
        <a href='#' class='button button-small button-primary speed-1'><span class='nudge-down'>▶</span></a>
        <a href='#' class='button button-small speed-2'><span class='nudge-down'>▶▶</span></a>
        <a href='#' class='button button-small speed-3'><span class='nudge-down'>▶▶▶</span></a>
      </div>
    </div>
    <div id='tileShelfArea'></div>
    <div id='rightPanel'>
      <div id='minionsButton'>Minions</div>
      <div id='inventoryButton'>Inventory</div>
    </div>
  </div>

  <div id='dungeonCanvas'></div>
</div>
