<div id='emptyFeatureWindow'>
  <pre>
    This will be the window for an empty feature.
    I will be showing the list of unlocked upgrades
    that are possible for this feature along
    with the costs of each. If the player can
    afford to build the feature there will be a
    build button that creates a timer on one of
    the feature tiles. Of course, because features
    consist of multiple tiles I'll need to decide
    which tile to put the clock on. Actually now
    that I think about it, it doesn't really make
    much sense to have clocks on most multi tile
    features, but it doesn't really make sense to
    put them any where else either. I suppose I
    could figure out which tile is the median tile
    and always use that one. That gets tricky
    though because features can be in any shape.
  </pre>
</div>
