<div>
  <div id='mainContent'></div>
  <div id='mainCover' class='hide'></div>

  <div id='dialogArea' class='hide'></div>
  <div id='overlayArea' class='hide'></div>
  <div id='optionsOverlay' class='hide'></div>

  <div id='noteArea' class='hide'></div>
  <ul id='centerAlerts'></ul>
  <ul id='sideAlerts'></ul>
  <ul id='eventAlerts'></ul>

  <div id='console' class='hide'>
    <div class='scrolling-panel'>
      <div class='scrolling-panel-content'>
        <ul id='log'></ul>
      </div>
    </div>
    <div class='bottom-bar'>
      <span class='dolla'>$</span>
      <input id='commandInput' type='text'/>
    </div>
  </div>

<!--
    <div id='clickAdvance' class='hide'></div>
    <div id='eventView' class='hide'>
      <div id='standardLayout'>
        <div id='imageArea' class='hide'></div>
        <div id='textArea'></div>
        <div id='actions'>
          <a href='#' class='continue-button button button-primary hide'>Continue</a>
        </div>
      </div>
    </div>
 -->

  <div id='preload' style='position:relative; top:-1000px;'>
    <span class='font-aleo-bold'>(.Y.)</span>
    <span class='font-aleo-light'>(.Y.)</span>
    <span class='font-aleo'>(.Y.)</span>
    <span class='font-crete'>(.Y.)</span>
    <span class='font-habibi'>(.Y.)</span>
    <span class='font-baskerville'>(.Y.)</span>
    <span class='font-baskerville-bold'>(.Y.)</span>
    <span class='font-roboto-bold'>(.Y.)</span>
    <span class='font-roboto-medium'>(.Y.)</span>
    <span class='font-roboto'>(.Y.)</span>
    <span class='font-roboto-light'>(.Y.)</span>
    <span class='font-roboto-thin'>(.Y.)</span>
    <span class='font-roboto-mono-bold'>(.Y.)</span>
    <span class='font-roboto-mono-medium'>(.Y.)</span>
    <span class='font-roboto-mono'>(.Y.)</span>
    <span class='font-roboto-mono-light'>(.Y.)</span>
    <span class='font-roboto-mono-thin'>(.Y.)</span>
    <span class='font-roboto-slab-black'>(.Y.)</span>
    <span class='font-roboto-slab-bold'>(.Y.)</span>
    <span class='font-roboto-slab-extra-bold'>(.Y.)</span>
    <span class='font-roboto-slab-extra-light'>(.Y.)</span>
    <span class='font-roboto-slab-light'>(.Y.)</span>
    <span class='font-roboto-slab-medium'>(.Y.)</span>
    <span class='font-roboto-slab'>(.Y.)</span>
    <span class='font-roboto-slab-semi-bold'>(.Y.)</span>
    <span class='font-roboto-slab-thin'>(.Y.)</span>
  </div>

  <div id='backgroundImage' class='background-image'></div>
</div>
