<div id='application'>
  <div id='mainContent'></div>
  <div id='mainCover' class='hide'></div>

  <div id='casementsArea'></div>
  <div id='dialogArea' class='hide'></div>
  <div id='overlayArea' class='hide'></div>
  <div id='optionsOverlay' class='hide'></div>
  <div id='noteArea' class='hide'></div>
  <div id='eventArea'></div>
  <div id='effectArea'></div>

  <ul id='centerAlerts'></ul>
  <ul id='sideAlerts'></ul>
  <ul id='eventAlerts'></ul>

  <div id='console' class='hide'>
    <div class='console-log-container'>
      <ul id='consoleLog'></ul>
    </div>
    <div class='bottom-bar'>
      <span class='dolla'>$</span>
      <input id='commandInput' type='text'/>
    </div>
  </div>

  <div id='confirmationDialog' class='hide'>
    <div class='confirm-window'><div class='content'></div></div>
    <div class='confirm-buttons'>
      <a href='#' class='button button-big no-button'>No</a>
      <a href='#' class='button button-big button-primary yes-button'>Yes</a>
    </div>
    <div class='cover'></div>
  </div>

  <div id='menuCover' class='hide'></div>
  <div id='mainMenu'>
    <div class='base-frame'>
      <h3 class='border-bottom margin-bottom'>Chalcedony Dust</h3>
      <a class='close-menu-button hide'></a>
      <ul class='menu-items'>
        <li><a href='#' class='start-button button button-big'>New Game</a></li>
        <li><a href='#' class='continue-button button button-big hide'>Continue Game</a></li>
        <li><a href='#' class='options-button button button-big'>Options</a></li>
        <li><a href='#' class='quit-button button button-big'>Quit</a></li>
      </ul>
    </div>
  </div>

  <div id='preload' style='position:fixed; top:-10px; font-size:1px;'>
    <span class='font-aleo-bold'>(.Y.)</span>
    <span class='font-aleo-light'>(.Y.)</span>
    <span class='font-aleo'>(.Y.)</span>
    <span class='font-crete'>(.Y.)</span>
    <span class='font-habibi'>(.Y.)</span>
    <span class='font-baskerville'>(.Y.)</span>
    <span class='font-baskerville-bold'>(.Y.)</span>
    <span class='font-roboto-bold'>(.Y.)</span>
    <span class='font-roboto-medium'>(.Y.)</span>
    <span class='font-roboto'>(.Y.)</span>
    <span class='font-roboto-light'>(.Y.)</span>
    <span class='font-roboto-thin'>(.Y.)</span>
    <span class='font-roboto-mono-bold'>(.Y.)</span>
    <span class='font-roboto-mono-medium'>(.Y.)</span>
    <span class='font-roboto-mono'>(.Y.)</span>
    <span class='font-roboto-mono-light'>(.Y.)</span>
    <span class='font-roboto-mono-thin'>(.Y.)</span>
    <span class='font-roboto-slab-black'>(.Y.)</span>
    <span class='font-roboto-slab-bold'>(.Y.)</span>
    <span class='font-roboto-slab-extra-bold'>(.Y.)</span>
    <span class='font-roboto-slab-extra-light'>(.Y.)</span>
    <span class='font-roboto-slab-light'>(.Y.)</span>
    <span class='font-roboto-slab-medium'>(.Y.)</span>
    <span class='font-roboto-slab'>(.Y.)</span>
    <span class='font-roboto-slab-semi-bold'>(.Y.)</span>
    <span class='font-roboto-slab-thin'>(.Y.)</span>
  </div>

  <div id='backgroundImage' class='background-image'></div>
</div>
