
<div class="overlay-header narrow">
  <ul class="tab-control" data-container="options">
    <li class="tab active" data-tab="stuff">Stuff I Guess</li>
    <li class="tab" data-tab="key-bindings">Key Bindings</li>
  </ul>
</div>

<div class='overlay narrow with-header scrolling-panel'>
  <div class='scrolling-panel-content'>
    <div class='tab-container' data-container-name="options">

      <div class="tab-content active padding" data-tab="stuff">
        <h3 class="border-bottom margin-bottom">Stuff & Thing</h3>
      </div>

      <div class="tab-content padding" data-tab="key-bindings">
        <h3 class="border-bottom margin-bottom">Key Bindings</h3>
        <ul id="keyBindingList"></ul>
      </div>

    </div>
  </div>
</div>

<div class='overlay-footer narrow button-row'>
  <a href='#' class='close-button button'>Close</a>
  <a href='#' class='save-button button button-primary'>Save</a>
</div>
