
#dungeonCanvas {
  position: absolute;
  inset: 0;
  z-index: $z-canvas;
}

#lowerBar {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;

  z-index: $z-lower-bar;


  #leftPanel {
    display: flex;
    overflow: hidden;

    background-color: rgb(20,20,30);
    border-top: $border-light;
    border-right: $border-light;

    #statusPanel {
      display: flex;
      flex-grow: 1;
      align-items: center;
      overflow: hidden;

      .status-panel {
        display: inline-flex;
        align-items: center;
        height: 30px;
        margin-left: 5px;
        box-shadow: $shadow-shallow;
        border: $border-light;

        .value {
          position: relative;
          top: 1px;
          font-family: 'aleo';
          font-size: $fs-big;
          margin: 0 10px;
        }
      }

    }

  }
  #rightPanel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    background-color: rgb(20,20,30);
    border-top: $border-light;
    border-left: $border-light;
  }
}

#speedControl {
  padding: 3px;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    line-height: 25px;
    width: 50px;
    height: 30px;
    margin-left: 5px;
    overflow: hidden;
    padding: 0;
  }

  .nudge-up { position:relative; top:-1px; }
  .nudge-down { position:relative; top:1px; }

  a:first-child { margin-left:0 }
  a.pause { font-size:25px; }
}
