
#dungeonCanvas {
  position: absolute;
  inset: 0;
  z-index: $z-canvas;
}

#lowerBar {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;

  z-index: $z-lower-bar;


  #leftPanel {
    display: flex;
    overflow: hidden;

    background-color: rgb(20,20,30);
    border-top: $border-light;
    border-right: $border-light;

    #statusPanel {
      display: flex;
      flex-grow: 1;
      align-items: center;
      overflow: hidden;

      .status-panel {
        display: inline-flex;
        align-items: center;
        height: 30px;
        margin-left: 5px;
        box-shadow: $shadow-shallow;
        border: $border-light;
        background: rgba(0,0,0,0.33);

        .value {
          position: relative;
          top: 1px;
          font-family: 'aleo';
          font-size: $fs-big;
          margin: 0 10px;
        }
      }
    }
  }

  #rightPanel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    background-color: rgb(20,20,30);
    border-top: $border-light;
    border-left: $border-light;
  }
}

#speedControl {
  padding: 3px;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    line-height: 25px;
    width: 50px;
    height: 30px;
    margin-left: 5px;
    overflow: hidden;
    padding: 0;
  }

  .nudge-up { position:relative; top:-1px; }
  .nudge-down { position:relative; top:1px; }

  a:first-child { margin-left:0 }
  a.pause { font-size:25px; }
}

#inventoryWindow {
  .inventory-state {
    &.empty { opacity: 0.5; }
  }
  .inventory-item {
    display: flex;
    align-items: center;
    height: 40px;
    width: 250px;
    font-size: $fs-big;
    margin-bottom: 7px;

    background-color: rgba(100,120,140,0.1);
    box-shadow: $shadow-shallow;
    border: $border-light;

    .name {
      margin-left: 10px;
      flex-grow:1;
    }
    .count {
      margin-right: 10px;
    }
  }
  .inventory-item:last-child {
    margin-bottom: 0;
  }
}

#minionsWindow {
  .minions-state {
    &.empty { opacity: 0.5; }
  }

  .species-list {
    display: grid;
    grid-template-columns: 8em auto;
    .species-name { color: $fg-very-strong; }
  }
}
