
#mainMenu {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc((100% - 300px)/2);
  z-index: $z-main-menu;

  .base-frame {
    width: 290px;
  }

  h1 {
    font-family: baskerville;
  }

  ul {
    a.button {
      position: relative;
      left: -20px;
      margin-bottom: 5px;
      width: 300px;
    }
  }
}

#menuCover {
  @include full-screen;
  z-index: $z-menu-cover;
  background-color: rgba(20,15,10,0.666);
  box-shadow: 0 0 100px 25px rgb(0,0,0) inset;
}
