#optionsOverlay {

  #keyBindingList {
    width: 430px;
    min-width: 430px;
    margin: auto;

    li {
      height: 35px;
    }
    span {
      display: inline-block;
      height: 30px;
      line-height: 30px;
    }
    .binding-name {
      width: 200px;
    }
    .binding-input {
      width: 100px;
      padding: 0 5px;
      cursor: pointer;
      border: $border-light;
      box-shadow: $shadow-button;
    }
    .binding-input:hover {
      border: $border-normal;
    }
    .binding-input.recording {
      background-color: $bg-input-active;
      box-shadow: $shadow-inset-button;
    }
  }

}
