
.upgrade-base-window {
  .banner {
    aspect-ratio: 45 / 12;
    background-size: cover;
  }
  .details {
    padding: 5px 10px;
    background-color: rgb(0,0,0);
    border-bottom: $border-normal;
  }
  .note {
    margin: 30px;
    color: $fg-very-weak;
    text-align: center;
  }
}

.simple-window.card-layout {
  height: 400px;
  width: 300px;
  background-size: contain;

  .details {
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    background-color: $bg-frame;
    border: $border-light;
    box-shadow: $shadow-frame;
  }
}

.empty-feature-window {
  .banner {
    aspect-ratio: 45 / 12;
    background-size: cover;
  }
  .note {
    padding: 5px 10px;
    background-color: rgb(0,0,0);
    border-bottom: $border-normal;
  }
}

.construction-list {
  .construction-item {
    margin: 10px;
    padding-bottom: 10px;

    border-bottom: $border-light;

    & > .name {
      font-size: $fs-big;
      color: $fg-strong;
    }
    .description {
      font-size: $fs-small;
      color: $fg-body;
    }
    .bottom-row {
      display: flex;
      align-items: flex-end;
    }
    .actions {
      text-align: right;
      flex-grow: 1;
    }
  }
}

.lair-window {
  .header {
    aspect-ratio: 4/1;
    background-color: rgb(0,0,0);
  }

  .details {
    padding: 10px;
    border-bottom: $border-light;
    background-color: rgb(0,0,0);
    box-shadow: $shadow-shallow;
  }
}

.resource-window {
  .banner {
    aspect-ratio: 3/1;
    background-size: cover;
  }
  .header {
    background-color: rgb(0,0,0);
    padding: 10px 86px 10px 10px;
    border-bottom: $border-light;
    box-shadow: $shadow-frame;
  }
  .icon-container {
    display: flex;
    justify-content: right;
    height: 0;

    .icon {
      position: relative;
      top: -36px;
      left: -10px;
      height: 64px;
      width: 64px;
      border: $border-normal;
      box-shadow: $shadow-shallow;
    }
  }
}
