
.upgrade-base-window {
  .banner {
    aspect-ratio: 45 / 12;
    background-size: cover;
  }
  .details {
    padding: 5px 10px;
    background-color: rgb(0,0,0);
    border-bottom: $border-normal;
  }
  .note {
    margin: 30px;
    color: $fg-very-weak;
    text-align: center;
  }
}

.simple-window.card-layout {
  height: 400px;
  width: 300px;
  background-size: contain;

  .details {
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    background-color: $bg-frame;
    border: $border-light;
    box-shadow: $shadow-frame;
  }
}

.empty-feature-window {
  .banner {
    aspect-ratio: 45 / 12;
    background-size: cover;
  }
  .note {
    padding: 5px 10px;
    background-color: rgb(0,0,0);
    border-bottom: $border-normal;
  }
}

.construction-list {
  .construction-item {
    margin: 10px;
    padding-bottom: 10px;

    border-bottom: $border-light;

    & > .name {
      font-size: $fs-big;
      color: $fg-strong;
    }
    .description {
      font-size: $fs-small;
      color: $fg-body;
    }
    .bottom-row {
      display: flex;
      align-items: flex-end;
    }
    .actions {
      text-align: right;
      flex-grow: 1;
    }
  }
}

.lair-window {
  .header {
    aspect-ratio: 4/1;
    background-color: rgb(0,0,0);
  }

  .details {
    padding: 10px;
    border-bottom: $border-light;
    background-color: rgb(0,0,0);
    box-shadow: $shadow-shallow;
  }
}

.resource-window {
  .banner {
    aspect-ratio: 3/1;
    background-size: cover;
  }
  .header {
    background-color: rgb(0,0,0);
    padding: 10px 86px 10px 10px;
    border-bottom: $border-light;
    box-shadow: $shadow-frame;
  }
  .icon-container {
    display: flex;
    justify-content: right;
    height: 0;

    .icon {
      position: relative;
      top: -36px;
      left: -10px;
      height: 64px;
      width: 64px;
      border: $border-normal;
      box-shadow: $shadow-shallow;
    }
  }
}

.guardian-select-window {

  .choices {
    display: flex;
    padding: 10px;
  }

  .choice {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    width: 400px;
    height: 600px;
    cursor: pointer;

    background-size: cover;
    border: $border-portrait;
    box-shadow: $shadow-portrait;

    .frame {
      flex-grow: 1;
      padding: 10px;
      margin: 10px;
      background-color: rgba(0,0,0,0.8);

      .name {
        margin-bottom: 5px;
        color: $fg-strong;
        font-size: $fs-big;
        border-bottom: $border-normal;
      }

      .info { display: flex; }

      .aspects {
        flex-grow: 1;
        text-align: right;
      }

    }
  }
  .choice:last-child { margin-right:0; }
  .choice:hover {
    box-shadow: 2px 4px 5px rgba(0,0,0,0.8), 0px 0px 15px rgba(200,200,250,0.75) inset;
  }
}

.guardian-window {
  .portrait {
    float: left;
    width: 200px;
    height: 300px;
    margin: 0 10px 10px;

    background-size: cover;
    border: $border-portrait;
    box-shadow: $shadow-portrait;
  }
  .header {
    margin: 10px 10px 5px;
    color: $fg-strong;
    font-size: $fs-big;
    border-bottom: $border-normal;
  }
  .text {
    margin: 0 10px;
  }
}
