#casementsArea {
  .casement-window {
    position: absolute;

    top: 20px;
    left: 20px;
    height: 200px;
    width: 300px;

    background-color: rgba(20,20,20);
    border: 3px solid rgba(50,50,50);
    box-shadow: $shadow-frame;
  }

  .resize-handle {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgba(250,0,0,0.5);
  }
  .resize-handle.nw { top:-3px; left:-3px; cursor:nw-resize; }
  .resize-handle.ne { top:-3px; right:-3px; cursor:ne-resize; }
  .resize-handle.sw { bottom:-3px; left:-3px; cursor:sw-resize; }
  .resize-handle.se { bottom:-3px; right:-3px; cursor:se-resize; }

  .casement-content {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;

    z-index: 50;

    background-color: rgba(0,150,0,0.1);
  }

  .casement-bar {
    position: absolute;
    width:100%;
    height: 30px;
    background-color: rgba(50,50,50);
    overflow: hidden;

    z-index: 100;

    cursor: move;

    h1 {
      font-size: 20px;
      line-height: 30px;
      font-family: 'habibi';
    }
  }
}
