
li.worker-slot {
  display: flex;
  padding: 5px 10px;
  margin-top: 10px;
  height: 30px;

  .slot-name {
    font-family: 'aleo-bold';
    line-height: 30px;
    margin-right: 1em;
    width: 6em;
  }

  .slot-select {
    display: flex;
    flex-grow: 1;
    padding: 5px 10px;
    cursor: pointer;
    border: $border-normal;
    box-shadow: $shadow-shallow;
    background-color: rgba(0,0,0,0.33);

    .empty {
      opacity: 0.5;
    }
    .minion-name {
      color: $fg-strong;
    }
    .minion-skill {
      margin-left: 1em;
      flex-grow: 1;
      text-align: right;
    }
  }
  .slot-select:hover {
    background-color: $select-shade;
  }
}

#selectArea .minion-list {
  .empty {
    opacity: 0.5;
  }
  .minion-item {
    display: flex;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    cursor: pointer;

    .minion-name {
      color: $fg-strong;
    }
    .minion-skill {
      margin-left: 1em;
      flex-grow: 1;
      text-align: right;
    }
  }
  .minion-item:hover {
    background-color: $select-shade;
  }
}
