
// === Aleo ===

@font-face {
  font-family: aleo-bold;
  src: url("../assets/fonts/Aleo-Bold.ttf");
}

@font-face {
  font-family: aleo-light;
  src: url("../assets/fonts/Aleo-Light.ttf");
}

@font-face {
  font-family: aleo;
  src: url("../assets/fonts/Aleo-Regular.ttf");
}

// === Crete Round ===

@font-face {
  font-family: crete;
  src: url("../assets/fonts/CreteRound-Regular.ttf");
}

// === Habibi ===

@font-face {
  font-family: habibi;
  src: url("../assets/fonts/Habibi-Regular.ttf");
}

// === Libre Baskerville ===

@font-face {
  font-family: baskerville;
  src: url("../assets/fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: baskerville-bold;
  src: url("../assets/fonts/LibreBaskerville-Bold.ttf");
}

// === Roboto ===

@font-face {
  font-family: roboto-bold;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: roboto-medium;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-light;
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: roboto-thin;
  src: url("../assets/fonts/Roboto-Thin.ttf");
}

// === Roboto Mono ===

@font-face {
  font-family: roboto-mono-bold;
  src: url("../assets/fonts/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: roboto-mono-medium;
  src: url("../assets/fonts/RobotoMono-Medium.ttf");
}

@font-face {
  font-family: roboto-mono;
  src: url("../assets/fonts/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: roboto-mono-light;
  src: url("../assets/fonts/RobotoMono-Light.ttf");
}

@font-face {
  font-family: roboto-mono-thin;
  src: url("../assets/fonts/RobotoMono-Thin.ttf");
}

// === Roboto Slab ===

@font-face {
  font-family: roboto-slab-black;
  src: url("../assets/fonts/RobotoSlab-Black.ttf");
}

@font-face {
  font-family: roboto-slab-bold;
  src: url("../assets/fonts/RobotoSlab-Bold.ttf");
}

@font-face {
  font-family: roboto-slab-extra-bold;
  src: url("../assets/fonts/RobotoSlab-ExtraBold.ttf");
}

@font-face {
  font-family: roboto-slab-extra-light;
  src: url("../assets/fonts/RobotoSlab-ExtraLight.ttf");
}

@font-face {
  font-family: roboto-slab-light;
  src: url("../assets/fonts/RobotoSlab-Light.ttf");
}

@font-face {
  font-family: roboto-slab-medium;
  src: url("../assets/fonts/RobotoSlab-Medium.ttf");
}

@font-face {
  font-family: roboto-slab;
  src: url("../assets/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: roboto-slab-semi-bold;
  src: url("../assets/fonts/RobotoSlab-SemiBold.ttf");
}

@font-face {
  font-family: roboto-slab-thin;
  src: url("../assets/fonts/RobotoSlab-Thin.ttf");
}
