.hide { display: none !important; }

.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }

.no-margin { margin: 0; }
.no-margin-top { margin-top: 0; }
.no-margin-bottom { margin-bottom: 0; }
.no-margin-left { margin-left: 0; }
.no-margin-right { margin-right: 0; }

.big-margin { margin: 20px; }
.big-margin-top { margin-top: 20px; }
.big-margin-bottom { margin-bottom: 20px; }
.big-margin-left { margin-left: 20px; }
.big-margin-right { margin-right: 20px; }

.margin { margin: 10px; }
.margin-top { margin-top: 10px; }
.margin-bottom { margin-bottom: 10px; }
.margin-left { margin-left: 10px; }
.margin-right { margin-right: 10px; }
.margin-auto { margin: auto; }

.small-margin { margin: 5px; }
.small-margin-top { margin-top: 5px; }
.small-margin-bottom { margin-bottom: 5px; }
.small-margin-left { margin-left: 5px; }
.small-margin-right { margin-right: 5px; }

.no-padding { padding: 0; }
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

.big-padding { padding: 20px; }
.big-padding-top { padding-top: 20px; }
.big-padding-bottom { padding-bottom: 20px; }
.big-padding-left { padding-left: 20px; }
.big-padding-right { padding-right: 20px; }

.padding { padding: 10px; }
.padding-top { padding-top: 10px; }
.padding-bottom { padding-bottom: 10px; }
.padding-left { padding-left: 10px; }
.padding-right { padding-right: 10px; }

.small-padding { padding: 5px; }
.small-padding-top { padding-top: 5px; }
.small-padding-bottom { padding-bottom: 5px; }
.small-padding-left { padding-left: 5px; }
.small-padding-right { padding-right: 5px; }

.fs-huge { font-size: $fs-huge; }
.fs-bigger { font-size: $fs-bigger; }
.fs-big { font-size: $fs-big; }
.fs-body { font-size: $fs-body; }
.fs-small { font-size: $fs-small; }
.fs-tiny { font-size: $fs-tiny; }

.font-size-1 { font-size: 8pt; }
.font-size-2 { font-size: 9pt; }
.font-size-3 { font-size: 10pt; }
.font-size-4 { font-size: 12pt; }
.font-size-5 { font-size: 14pt; }
.font-size-6 { font-size: 16pt; }
.font-size-7 { font-size: 18pt; }
.font-size-8 { font-size: 20pt; }
.font-size-9 { font-size: 24pt; }

.window-color-1 { background-color: rgba(5,5,5,0.66); }
.window-color-2 { background-color: rgba(5,5,5,0.8); }
.window-color-3 { background-color: rgba(0,0,0,0.9); }
.window-color-4 { background-color: rgb(0,0,0); }
.window-color-5 { background-color: rgba(20,15,10,0.8); }
.window-color-6 { background-color: rgba(25,5,5,0.8); }
.window-color-7 { background-color: rgba(10,10,25,0.8); }
.window-color-8 { background-color: rgba(15,25,15,0.8); }

.mana-color { color:$fg-mana; }

.border-light { border: $border-light; }
.border-normal { border: $border-normal; }
.border-heavy { border: $border-heavy; }

.border-heavy-bottom { border-bottom: $border-heavy; }
.border-heavy-top { border-top: $border-heavy; }
.border-light-bottom { border-bottom: $border-light; }
.border-light-top { border-top: $border-light; }
.border-bottom { border-bottom: $border-normal; }
.border-top { border-top: $border-normal; }

.weaver-error { font-family:roboto-mono; color:$fg-error; }
.weaver-warning { font-family:roboto-mono; color:$fg-warning; }

.drag-active {
  cursor: grabbing;
}
